<style>h3 {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #333; 
    text-align: center; 
    padding: 10px; 
    background-color: #f5f5f5; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}</style>

<h3>Out of Office Forms</h3>

<div class="col" style="margin-bottom:20px;">
			<button type="button" onclick="createRequest()" class="btn btn-success">NEW REQUEST</button>
</div>
<table class="table" id="tableContainer">
	<thead>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Type</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var request in Model)
		{
			<tr>
                <td>@request.Id</td>
                <td><p onclick="loadRequestOoODetailView(@request.Id)"  style="text-decoration:underline;">@request.Summary</p></td>
				<td>@request.Type</td>
				<td>@request.Status</td>
				<td>
					@if (@request.SendToApproval == true)
					{
					  <a href="#" onclick="sendOoOToApproval(@request.Id)">[send to approval]</a>
					  <a href="#" onclick="deleteNewOoORequest(@request.Id)">[x]</a>
					}					
				</td>
			</tr>
		}
	</tbody>
</table>