
<div class="col">
			<button type="button" onclick="createRequest()" class="btn btn-success">NEW REQUEST</button>
</div>
<table class="table" id="tableContainer">
	<thead>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Type</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var request in Model)
		{
			<tr>
                <td>@request.Id</td>
                <td><p onclick="loadOoODetailView(@request.Id)"  style="text-decoration:underline;">@request.Summary</p></td>
				<td>@request.Type</td>
				<td>@request.Status</td>
				<td>
					@if (@request.SendToApproval == true)
					{
					  <a href="#" onclick="sendOoOToApproval(@request.Id)">[send to approval]</a>
					  <a href="#" onclick="deleteOoORequest(@request.Id)">[x]</a>
					}					
				</td>
			</tr>
		}
	</tbody>
</table>