@using VirtualOffice.Controllers
@model EquipmentManagerWrapperModel

<style>
h3 {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #333; 
    text-align: center; 
    padding: 10px; 
    background-color: #f5f5f5; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}
</style>

<h3>Assigned Equipment</h3>

<table class="table" id="tableEquipmentContainer">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Category Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var equipment in @Model.Equipment)
		{
			<tr>
                <td>@equipment.Id</td>
                <td>@equipment.Name</td>
				<td>@equipment.EquipmentCategory.Name</td>		
				
			</tr>
		}
	</tbody>
</table>

<br/>

<h3>Equipment Requests</h3>
<table class="table" id="tableContainer">
	<thead>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Type</th>
			<th>Status</th>
			<th>Employee</th>
			<th>Date of Creation</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var request in Model.EquipmentRequests)
		{
			<tr>
                <td>@request.Id</td>
                <td><p onclick="loadRequestEquipmentManagerDetailView(@request.Id)"  style="text-decoration:underline;">@request.Summary</p></td>
				<td>@request.Type</td>
				<td>@request.Status</td>
				<td>@request.EmployeeFullName</td>
				<td>@request.CreatedDate</td>
			</tr>
		}
	</tbody>
</table>