

<div class="col" style="margin-bottom:20px;">
			<button type="button" onclick="createRequest()" class="btn btn-success">NEW REQUEST</button>
</div>
<table class="table" id="tableContainer">
	<thead>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Type</th>
			<th>Status</th>
			<th>Date of Creation</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var request in Model)
		{
			<tr>
                <td>@request.Id</td>
                <td><p onclick="loadRequestOoOManagerDetailView(@request.Id)"  style="text-decoration:underline;">@request.Summary</p></td>
				<td>@request.Type</td>
				<td>@request.Status</td>
				<td>@request.CreatedDate</td>
			</tr>
		}
	</tbody>
</table>